VITE_BRAND_EMAIL=hello@yourbrand.com
VITE_BRAND_PHONE=+1 (555) 000-0000
VITE_BRAND_WHATSAPP=+15550000000
VITE_BRAND_ADDRESS=123 Your Street, City, State ZIP
VITE_INSTAGRAM_URL=https://instagram.com/yourbrand
VITE_TWITTER_URL=https://twitter.com/yourbrand
VITE_YOUTUBE_URL=https://youtube.com/yourbrand
